$primary-text-color: #212121;
$text-color: #757575;
$accent-color: #2196f3;
$primary-white-color: #ffffff;
$another-color: rgba(255, 255, 255, 0.6);
$secondary-bg-color: #f5f4fa;
$another-bg-color: #2f303a;
$hero-bg-color: #c4c4c4;
$link-color: #afb1b8;

$primary-font-size: 14px;
$special-font-weight: 500;

$main-font-family: Roboto, sans-serif;
$secondary-font-family: Raleway, cursive;
